

<% extend 'html/partials/_layout.html' %>
    <!-- [HERO COVER]  -->
    <section class="hero-wrapper"></section>
    <!-- /[HERO COVER]  -->
    <!-- [TOP BANNERS] -->
    <section>
      <div class="container-fluid container-mod">
        <div class="banner-sector">
          <div class="row">
            <div class="col-md-4">
              <div class="header-banner-wrapper">
                <h4>メディア</h4>
                <div class="img-overlay"></div>
                <img src="/images/banner1.jpg" class=" img-fluid" alt="banner photos">
              </div>
            </div>
            <div class="col-md-4">
              <div class="header-banner-wrapper">
                <h4>メディア</h4>
                <div class="img-overlay"></div>
                <img src="/images/banner2.jpg" class=" img-fluid" alt="banner photos">
              </div>
            </div>
            <div class="col-md-4">
              <div class="header-banner-wrapper">
                <h4>メディア</h4>
                <div class="img-overlay"></div>
                <img src="/images/banner3.jpg" class=" img-fluid" alt="banner photos">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /[TOP BANNERS] -->
    <!-- [ARTICLES] -->
    <section>
      <div class="container-fluid container-mod">
        <div class="section-title">
          <h1 class="section-title">日ツノヲ</h1>
        </div>
        <% include 'html/partials/_article-photo.html' %>
        <% include 'html/partials/_article.html' %>
        <% include 'html/partials/_article-photo.html' %>
        <% include 'html/partials/_article-photo.html' %>
        <% include 'html/partials/_article.html' %>
        <!-- Red Buttons -->
        <a href="#" class="btn-play btn-big btn-center">
          <img src="/images/play-icon.png" alt="play icon">夏の湯治バカンスをご提案</a>
        <!-- /Red Buttons -->
      </div>

    </section>
    <!-- /[ARTICLES] -->
    <!-- [TABLE]  -->
    <section >
      <div class="container-fluid container-mod">
        <div class="section-title">
          <h1 class="section-title">メディア掲載情報</h1>
        </div>
        <!-- Table -->
        <div class="row">
          <div class="col-xl-12">
            <table class="custom-table">
              <tr>
                <td>2016.06.27</td>
                <td>大江戸温泉物語「ホテル新光</td>
                <td>夏の石和温泉の楽しみ方を紹介</td>
              </tr>
              <tr>
                <td>2016.06.27</td>
                <td>大江戸温泉物語「ホテル新光</td>
                <td>夏の石和温泉の楽しみ方を紹介</td>
              </tr>
              <tr>
                <td>2016.06.27</td>
                <td>大江戸温泉物語「ホテル新光</td>
                <td>夏の石和温泉の楽しみ方を紹介</td>
              </tr>
              <tr>
                <td>2016.06.27</td>
                <td>大江戸温泉物語「ホテル新光</td>
                <td>夏の石和温泉の楽しみ方を紹介</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /Table -->
        <!-- Red Button Small -->
        <div class="row">
          <div class="col-xl-12">
            <a href="#" class="btn-play btn-small btn-right"><img src="/images/play-icon.png" alt="play icon">一覧はこちら</a>
          </div>
        </div>
        <!-- /Red Button Small -->
      </div>
    </section>
    <!-- /[TABLE]  -->
    <!-- [PANEL] -->
    <section class="hidden-md-down">
      <div class="container-fluid container-mod">
        <div class="section-title">
          <h1 class="section-title">大江戸温泉物語の運営施設</h1>
        </div>
        <div class="img-panel-wrapper">
          <div class="img-panel-main">
            <img src="/images/img-panel-1.png" class="panel-main-img" alt="panel-img">
          </div>
          <div class="img-panel-sub-container">
            <div class="img-panel-sub">
              <p class="panel-sub-hover">その他の運営施設一覧</p>
              <img src="/images/img-panel-sm1.png" alt="">
            </div>
            <div class="img-panel-sub">
              <p class="panel-sub-hover">その他の運営施設一覧</p>
              <img src="/images/img-panel-sm2.png" alt="">
            </div>
            <div class="img-panel-sub">
              <p class="panel-sub-hover">その他の運営施設一覧</p>
              <img src="/images/img-panel-sm3.png" alt="">
            </div>
            <div class="img-panel-sub">
              <p class="panel-sub-hover">その他の運営施設一覧</p>
              <img src="/images/img-panel-sm4.png" alt="">
            </div>
            <div class="img-panel-sub">
              <p class="panel-sub-hover">その他の運営施設一覧</p>
              <img src="/images/img-panel-sm5.png" alt="">
            </div>
          </div>
          <div class="img-panel-button"><h4>その他の運営施設一覧</h4></div>
        </div>
      </div>
    </section>
    <!-- /[PANEL] -->
    <!-- [BOTTOM BANNERS] -->
    <section>
      <div class="container-fluid container-mod">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="footer-banner-wrapper">
              <img src="/images/banner_recruit.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="footer-banner-wrapper">
              <img src="/images/banner_group-site.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="footer-banner-wrapper">
              <img src="/images/banner_film-commission.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>    
    </section>
    <!-- /[BOTTOM BANNERS] -->
