body {
  width: 100%;
}

.container-mod {
  padding-left: 100px;
  padding-right: 100px;
}

.header-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #a8a8a8;
  display: flex;
  padding: 10px 100px;
}

.header-left-part {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 300px;
}
.header-left-part .company-logo {
  align-self: center;
  height: auto;
  width: 100%;
}

.header-right-part {
  display: flex;
  flex-flow: column;
  height: 70px;
  width: 100%;
}
.header-right-part .header-lang {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: flex-end;
}
.header-right-part .lang-selector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #d2d2d2;
  background-image: url("/images/selector-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  border: 1px solid #aaaaaa;
  box-shadow: 0;
  font-size: 12px;
  height: 20px;
  padding: 0 5px;
  width: 100px;
}
.header-right-part .lang-link {
  color: inherit;
  padding-left: 30px;
  text-decoration: none;
}
.header-right-part .lang-link:hover {
  text-decoration: underline;
}
.header-right-part .header-links-wrapper {
  height: 50%;
}
.header-right-part .links {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-right-part .links a {
  align-items: center;
  color: #000;
  display: flex;
  height: 100%;
  padding-left: 60px;
  text-decoration: none;
}

.header-right-part-mobile {
  display: none;
}

.hero-wrapper {
  background: url("/images/home-hero.jpg");
  background-color: #d3d3d3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.header-banner-wrapper {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
.header-banner-wrapper h4 {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: 500ms all;
  width: 100%;
  z-index: 4;
}
.header-banner-wrapper .img-overlay {
  background: #000;
  border-radius: 10px;
  height: 100%;
  opacity: .5;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.header-banner-wrapper img {
  border-radius: 10px;
  height: 300px;
  width: 100%;
}
.header-banner-wrapper:hover h4 {
  opacity: 1;
}

.footer-banner-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.article {
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}
.article .article-date {
  letter-spacing: 5px;
}
.article .article-button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #f00;
  color: #f00;
  cursor: pointer;
  margin-top: 20px;
}
.article .article-button:active {
  background-color: #d0121b;
  color: #fff;
}
.article .article-header {
  font-size: 25px;
  font-weight: bolder;
}
.article .article-content {
  font-size: 25px;
}
.article .article-photo {
  border-radius: 10px;
  width: 100%;
}

.btn-play {
  align-items: center;
  background-color: #d0121b;
  color: #fff;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  margin: 50px 0;
  text-decoration: none;
}
.btn-play:hover {
  color: #fff;
  text-decoration: none;
}
.btn-play:active {
  box-shadow: inset 0 10px 5px 5px #b50e16;
  color: #fff;
  text-decoration: none;
}
.btn-play img {
  margin: 10px;
}

.btn-big {
  font-size: 25px;
  height: 80px;
  width: 500px;
}

.btn-small {
  font-size: 15px;
  height: 40px;
  width: 200px;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
}

.btn-right {
  margin-left: auto;
  margin-right: 0;
}

.img-panel-wrapper {
  background-color: #d3d3d3;
  border-radius: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.img-panel-main {
  background-color: #90ee90;
  position: relative;
}
.img-panel-main .panel-main-img {
  height: auto;
  width: 100%;
}

.img-panel-sub-container {
  background-color: #000;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  display: flex;
  height: 170px;
}
.img-panel-sub-container .img-panel-sub {
  height: 100%;
  position: relative;
  width: 100%;
}
.img-panel-sub-container .img-panel-sub .panel-sub-hover {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.img-panel-sub-container .img-panel-sub:hover .panel-sub-hover {
  opacity: 1;
}
.img-panel-sub-container .img-panel-sub img {
  height: 100%;
  width: 100%;
}

.img-panel-button {
  align-items: center;
  background-color: #302d29;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.custom-table {
  width: 100%;
}
.custom-table th,
.custom-table td {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer {
  background-color: #302d29;
  color: #fff;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  width: 100%;
}
.footer * {
  color: inherit;
}
.footer .footer-divider {
  background-color: #fff;
  height: 2px;
  margin-bottom: 25px;
  margin-top: 25px;
  width: 100%;
}
.footer .copyright {
  text-align: right;
  width: 100%;
}
.footer .footer-logo {
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .hero-wrapper {
    background: url("/images/home-hero-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .container-mod {
    padding-left: 50px;
    padding-right: 50px;
  }

  .article-photo-order {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }

  .btn-big {
    font-size: 25px;
    height: 80px;
    width: 100%;
  }

  .header-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-right-part {
    display: none;
  }

  .header-right-part-mobile {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }

  .burger-label {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 20px;
  }

  .burger-menu:checked ~ .burger-list {
    display: flex;
    flex-flow: column;
    height: auto;
  }
  .burger-menu:checked ~ .burger-list .header-lang {
    display: flex;
    flex-flow: column;
  }
  .burger-menu:checked ~ .burger-list .links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .burger-menu:checked ~ .burger-list .links li {
    color: #000;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .burger-list {
    display: none;
  }
  .burger-list .lang-selector {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #d2d2d2;
    background-image: url("/images/selector-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    border: 1px solid #aaaaaa;
    box-shadow: 0;
    font-size: 12px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
  }

  .footer-margin {
    margin-bottom: 10px;
  }
}
@media (max-width: 800px) {
  .custom-table tr {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: column wrap;
  }
  .custom-table td {
    border: 0;
  }
}
@media (max-width: 414px) {
  .hero-wrapper {
    background: url("/images/home-hero-mobile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .article-photo-order {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }

  .container-mod {
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn-big {
    font-size: 25px;
    height: 80px;
    width: 100%;
  }

  .footer-banner-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .copyright {
    text-align: left;
  }

  .custom-table tr {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-flow: column wrap;
  }
  .custom-table td {
    border: 0;
  }
}
@media (max-width: 320px) {
  .header-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-mod {
    padding-left: 10px;
    padding-right: 10px;
  }

  .article-photo-order {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }

  .btn-big {
    font-size: 25px;
    height: 80px;
    width: 100%;
  }
}
.news-hero {
  background: url("/images/news-header.jpg");
  align-items: center;
  background-color: #d3d3d3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100%;
}
.news-hero .news-hero-title {
  font-size: 25px;
}
