<article class="row article">
  <!-- Date -->
  <div class="col-xl-2 col-lg-2 col-md-12">
    <div class="article-date">
      2016.06.17
    </div>
    <button class="article-button" type="button" name="button">ニュース</button>
  </div>
  <!-- Content -->
  <div class="col-xl-8 col-lg-8 col-md-12">
    <div class="article-header">
      <b>大江戸温泉物語「鹿教湯」　夏の湯治バカンスをご提案</b>
    </div>
    <div class="article-content">
      大江戸温泉物語をご利用頂きましてありがとうございます。今秋、奥州三名湯のひとつ宮城県鳴子温泉に2つの大江戸温泉物語グループの宿が、誕生いたします。鳴子温泉で最大級の「百畳露天風呂」や、「展望露天風呂」など自慢のお風呂と季節の会席料理をお楽しみください。
    </div>
  </div>
  <!-- Photo -->
  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-sx-12 article-photo-order mb-2 mb-lg-0 mb-xl-0">
    <img src="/images/article-img-1.jpg" class="article-photo img-fluid" alt="">
  </div>
</article>
