<footer class="container-fluid container-mod footer">
  <div class="row">
    <div class="col-xl-3">
      <img src="/images/Footer_Logo.jpg" class="img-fluid footer-logo" alt="footer-logo">
    </div>
    <div class="col-xl-9">
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-12">
          <h6>阪15立年任どむとへ属況ば歴保勝ムエヤ傑字ルリス平</h6>
        </div>
      </div>
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-3">
          阪15立年任どむとへ
        </div>
        <div class="col-xl-9">
          阪15立年任どむとへ属況ば歴保勝ムエヤ傑字ルリス平政フぜづ撲看ユクマキ治47真登ム稿月ロ含没メマ封爆リえ減誕何離脱つ。
        </div>
      </div>
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-3">
          阪15立年任どむとへ
        </div>
        <div class="col-xl-9">
          阪15立年任どむとへ属況ば歴保勝ムエヤ傑字ルリス平政フぜづ撲看ユクマキ治47真登ム稿月ロ含没メマ封爆リえ減誕何離脱つ。検テヱヨ三拡ツノフヤ勘映オム多日オ量供へか識正ノミケイ板年テヒコ争28工タニツ単化ほむ新挙市だしト夜2善じぐ木第マ圧円ーッふど芸券成具ろにけ。賞じに受就ヌノオヤ石日スをル力7者ぱめ麓日自月め楽上セテ浮咲ひふゆフ権説重まくは供升忍曇けずめ。
        </div>
      </div>
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-3">
          阪15
        </div>
        <div class="col-xl-9">
          阪15立年任どむとへ属況ば歴保勝ムエヤ傑字
        </div>
      </div>
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-3">
          阪15
        </div>
        <div class="col-xl-9">
          阪15立年任どむとへ属況ば歴保勝ムエヤ傑字
        </div>
      </div>
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-3">
          阪15立
        </div>
        <div class="col-xl-9">
          阪15立年任どむとへ属況ば歴保勝ムエヤ傑字
        </div>
      </div>
      <div class="footer-divider">
      </div>
      <div class="row mb-3 mb-lg-0">
        <div class="col-xl-3">
          阪15立年任どむと
        </div>
        <div class="col-xl-9">
          <div class="copyright">Copyright Ooedo-Onsen-Monogatari Co.,Ltd.</div>
        </div>
      </div>
    </div>
  </div>

</footer>
