<!-- [HEADER BAR] -->
<header>
  <div class="header-wrapper">
    <!-- [HEADER LOGO] -->
    <div class="header-left-part">
      <img src="/images/Logo.jpg" class="company-logo" alt="company logo">
    </div>
    <!-- /[HEADER LOGO] -->
    <!-- [LINKS & LANGUAGE] -->
    <div class="header-right-part">
      <div class="header-lang">
        <select class="lang-selector" name="language-selector">
          <option value="English">English</option>
          <option value="Japanese">Japanese</option>
        </select>
        <a class="lang-link" href="#">お知らせ</a>
      </div>
      <div class="header-links-wrapper">
        <ul class="links">
          <li><a href="/index.html">施設を探す</a></li>
          <li><a href="/news.html">キャンペーン</a></li>
          <li><a href="#">大江戸温泉物語の想い</a></li>
          <li><a href="#">ご予約</a></li>
        </ul>
      </div>
    </div>
    <!-- (mobile version) -->
    <div class="header-right-part-mobile">
      <label for="burger-menu" class="burger-label"><img src="/images/burger.png" height="32px" width="32px" alt="burger">Menu</label>
      <input type="checkbox" class="burger-menu" name="burger-menu" value="" hidden="">
      <div class="burger-list">
        <div class="header-lang">
          <select class="lang-selector" name="language-selector">
            <option value="English">English</option>
            <option value="Japanese">Japanese</option>
          </select>
          <a class="lang-link" href="#">日ツノヲ 1</a>
        </div>
        <div class="header-links-wrapper">
          <ul class="links">
            <a href="/index.html"><li>1日ツノヲ</li></a>
            <a href="/news.html"><li>2日ツノヲ</li></a>
            <a href="#"><li>3日ツノヲ</li></a>
            <a href="#"><li>4日ツノヲ</li></a>
          </ul>
        </div>
      </div>
    </div>
    <!-- /[LINKS & LANGUAGE] -->
  </div>
</header>
<!-- /[HEADER BAR] -->
