<header class="header-wrapper">
  <!-- Logo -->
  <div class="header-left-part">
    <img src="/images/Logo.jpg" id="company-logo" alt="company logo">
  </div>
  <!-- Link -->
  <div class="header-right-part">
    <div class="header-lang">
      <select class="lang-selector" name="language-selector">
        <option value="English">English</option>
        <option value="Japanese">Japanese</option>
      </select>
      <a class="lang-link" href="#">日ツノヲ</a>
    </div>
    <div class="header-links-wrapper">
      <ul class="links">
        <a href="/index.html"><li>日ツノヲ</li></a>
        <a href="/news.html"><li>日ツノヲ</li></a>
        <a href="#"><li>日ツノヲ</li></a>
        <a href="#"><li>日ツノヲ</li></a>
      </ul>
    </div>
  </div>
  <div class="header-right-part-mobile">
    <label for="burger-menu" id="burger-label"><img src="/images/burger.png" height="32px" width="32px" alt="burger">Menu</label>
    <input type="checkbox" id="burger-menu" name="burger-menu" value="" hidden="">
    <div class="burger-list">
      <div class="header-lang">
        <select class="lang-selector" name="language-selector">
          <option value="English">English</option>
          <option value="Japanese">Japanese</option>
        </select>
        <a class="lang-link" href="#">日ツノヲ 1</a>
      </div>
      <div class="header-links-wrapper">
        <ul class="links">
          <a href="/index.html"><li>1日ツノヲ</li></a>
          <a href="/news.html"><li>2日ツノヲ</li></a>
          <a href="#"><li>3日ツノヲ</li></a>
          <a href="#"><li>4日ツノヲ</li></a>
        </ul>
      </div>
    </div>
  </div>

</header>
